* {
    box-sizing: border-box;
    font-family: "YouYuan";
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701) 13%, rgb(255 122 151 / 0%) 4%),
    linear-gradient(44deg, rgba(0, 43, 99, 0.0792209024) 39%, rgba(242, 140, 143, 0.5) 18%),
    linear-gradient(118deg, rgb(84 202 242 / 51%) 40%, rgb(237 155 247 / 28%) 54%),
    linear-gradient(58deg, rgba(90, 90, 237, 0.1614444357) 83%, rgb(249 211 142 / 83%) 23%);
    background-blend-mode: normal, lighten, multiply, hard-light;
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
}

div.content {
    text-align: center;
    background-color: white;
    max-width: 500px;
    min-height: 80%;
    max-height: 90%;
    width: 80%;
    border-radius: 20px;
    overflow: auto;
    box-shadow: 10px 10px 10px #888888;
    transition: all 0.5s linear;
}

div.content:hover {
    box-shadow: 20px 20px 10px #888888;
    transition: all 0.5s linear;
}

h3 {
    border-bottom: #aaaaaa 1px solid;
    margin-bottom: 0em;
    padding: 0.5em;
    text-align: left;
}

div.todo {
    background-color: #b7ef6085;
    height: 50%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

div.done {
    background-color: #eeeeeeb5;
    height: 50%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

li {
    background-color: white;
    margin: 0.5em;
    padding: 0.7em;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

li.todo {
    border: white 2px solid;
    transition: all 0.5s linear;
    font-size: large;
    font-weight: bold;
}

li.todo:hover {
    border: yellowgreen 2px solid;
    transition: all 0.5s linear;
}

li.done {
    border: white 2px solid;
    transition: all 0.5s linear;
    font-size: large;
    color: rgb(164, 164, 164);
    font-weight: bold;
}

li.done:hover {
    border: #aaaaaa 2px solid;
    transition: all 0.5s linear;
}

li.addLine {
    text-decoration: line-through;
}

ul.todo {
    list-style: none;
    text-align: center;
    margin-top: 0em;
    padding: 0.5em;
}

ul.done {
    list-style: none;
    text-align: center;
    margin-top: 0em;
    padding: 0.5em;
}

img.mark_img {
    height: 20px;
    float: left;
}

img.delete_img {
    height: 20px;
    content: 30px;
    float: right;
}

div.window {
    height: 30%;
    width: 40%;
    position: fixed;
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
    display: none;
}